/*-----fonts style------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background-color: #F3F1FF;

}

/*----top players style start---------*/
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;


}

.container {
    width: 870px;
    background-color: white;
    padding-left: 33px;
    padding-bottom: 40px;
    margin-top: 21px;
    border-radius: 10px;
}

/*for all h2 tag style*/
h2 {
    color: #562EFF;
    font-size: 24px;
    font-weight: 500;
    margin: 30px 0px 30px 0px;
}


.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;


}

.player {
    display: flex;
    align-items: center;

}

.player img {
    width: 56px;
    height: 56px;
}

.player h3 {
    font-size: 18px;
    margin-left: 15px;
    font-weight: 500;
}

hr {
    width: 793px;
    margin-top: 30px;
    margin-right: 66px;

}

/*-----------------
top player style end from here-----
----------------------*/

/*---------------------
blog style start from here
-----------------------*/
.articales {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}

.articale {
    display: flex;
    align-items: center;
}

.articale img {
    width: 177px;
    height: 117px;
}


.blog-detail {
    margin-left: 16px;
}

.blog-detail h3 {
    font-size: 20px;
    font-weight: 500;
}

.blog-author {

    color: #9F9F9F;
}

.blog-author a {
    font-size: 16px;
    color: #562EFF;
    padding-left: 5px;
    text-decoration: none;
}

/*---------------------
blog style end from here
-----------------------*/
/*---------------------------------
Latest Courses style start from here
-----------------------------------*/